@model MzM.SearchWordArticles.Web.Models.Article.CreateViewModel
@{
	ViewBag.Title = "Create new article";
}
@section featured
{
	<section class="featured">
		<div class="content-wrapper">
			<hgroup class="title">
				<h1>@ViewBag.Title.</h1>
				<h2>Use this form create a new article for the word '@string.Join(", ", Model.Words)'</h2>
			</hgroup>	
		</div>
	</section>
}
<div>
	<label id="lblword" class="inputtextwidth">@string.Join(", ", Model.Words)</label>
	<form id="articleform" method="get" action="">
	<div>
		<textarea id="txttext" name="ntext" class="ntext inputtextwidth" type="text" rows="10"></textarea>
	</div>
	</form>
	<input type="button" id="btnCreate" value="Create article" data-returnurl="@Url.Action("Edit", "Article")" />
</div>
@section scripts
{
	@Scripts.Render("~/Scripts/App_Scripts/article.js")
}
